* {
    font-family: Arial;
}



body {
    background-color:  rgb(0, 174, 240);
}

header {
    background-color: rgb(1, 93, 140);

    text-align: center;
}

main {
    background-color: white;
}


div {
    border: black solid 2px;
}

h1 {
    color: white;

    font-size: 5vh;
    text-transform: uppercase;

    padding: 3vh;
    margin: 0;
}

h2 {
    font-size: 3vh;
    text-transform: uppercase;

    margin: 1vw 1vw 1.5vw 1vw;
}

p {
    font-size: 2vh;

    margin: 1vw;
}

li {
    font-size: 2vh;

    margin: 0.5vw;
}

span {
    font-weight: bold;
}